<aside style="float: left; width: 200px; margin-right: 20px;">
  <h2><%= @event.title %></h2>
  <%= link_to refinery_icon_tag('calendar_add.png'), refinery.calendar_event_path(@event, format: :ics), id: dom_id(@event, :ical), title: t('.add_to_calendar') -%>

  <%= link_to t('.view_attendees', count: @event.attendees_count), refinery.calendar_admin_event_attendees_path(@event) -%>
</aside>

<section id='<%= dom_id(@event) -%>' style="float: left; width: 740px;">
  <h4>Event details</h4>
  <h5><%= @event.venue %></h5>

  <p>From <%= @event.starts_at.strftime("%b %d, %Y %I:%M %p") %> to <%= @event.ends_at.strftime("%b %d, %Y %I:%M %p") %></p>

  <div class="event_description">
    <%=raw @event.description %>
  </div>
</section>