<%= div_for event do -%>
  <time class="date" datetime="<%= event.starts_at %>">
    <%= event.starts_at.strftime('%b %d').html_safe %>
  </time>

  <h1>
    <%= link_to event.title, refinery.calendar_event_path(event) %>
    <%= link_to refinery_icon_tag('calendar_add.png'), refinery.calendar_event_path(event, format: :ics), id: dom_id(event, :ical), title: t('.add_to_calendar') -%>
  </h1>
<% end -%>
