<% content_for :body do %>
  <% if params[:action] == 'archive' -%>
    <h1>Past Events</h1>
  <% else -%>
    <h1>Events</h1>
  <% end -%>

  <section id="events">
    <%= page_entries_info @events -%>
    <%= render @events %>
    <%= will_paginate @events -%>
  </section>

  <% if params[:action] == 'archive' -%>
    <%= link_to 'View upcoming events', refinery.calendar_events_path -%>
  <% else -%>
    <%= link_to 'View past events', refinery.calendar_events_archive_path -%>
  <% end -%>

<% end -%>

<% content_for :stylesheets, stylesheet_link_tag('events') -%>

<%= render '/refinery/content_page' -%>
