<% content_for :body_content_left do %>
  <h4>Event details</h4>

  <%= @event.title %>
  <%= link_to refinery_icon_tag('calendar_add.png'), refinery.calendar_event_path(@event, format: :ics), id: dom_id(@event, :ical), title: t('.add_to_calendar') -%>

  <h5><%= @event.venue %></h5>

  <p>From <%= @event.from.strftime('%B %d, %Y %I:%M%p') %> to <%= @event.to.strftime('%B %d, %Y %I:%M%p') %></p>

  <div class="event_description">
    <!-- <h4><%#= @event.excerpt %></h4> -->
    <%=raw @event.description %>
  </div>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('events') %>

<%= render '/refinery/content_page' %>
