<% content_for :body do %>
  <h4>Event details</h4>

  <%= @event.title %>
  <%= render partial: 'refinery/calendar/shared/add_to_calendar' -%>
  <%= link_to t('.register'), refinery.new_calendar_event_attendee_path(@event) -%>
  <%= link_to t('.contact_organizer'), refinery.new_calendar_event_message_path(@event), class: 'btn' -%>

  <h5><%= @event.venue %></h5>

  <p>From <%= @event.starts_at.strftime('%B %d, %Y %I:%M%p') %> to <%= @event.ends_at.strftime('%B %d, %Y %I:%M%p') %></p>

  <div class="event_description">
    <%=raw @event.description %>
  </div>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('events') %>

<%= render '/refinery/content_page' %>
